{% extends "poa_deploy/base.html" %}

{% block scripts %}{{ block.super }}
<script src="/static/poa_deploy/index_page.js"></script>
<script src="/static/poa_deploy/utils.js"></script>
{% endblock scripts %}
{% block pagetitle %}{{ pagetitle }}{% endblock pagetitle %}

{% block poa_installations_form %}{{ block.super }}
	<form id="poa_add_form" action="add_poa_to_database" method="POST">
		POA MN IP: <input type="text" name="poa_ip">
		<input id="submit" type="submit" value="Add" class="button"/>
	</form>
	<table id="poa_table" style="width:300px; margin-top:10px">
		<thead>
		<tr>
			<th class="ip_field">IP</th>
			<th class="status_field">Status</th>
		</tr>
		</thead>
		<tbody>
			{% for poa in installation_list %}
				<td>{{ poa.ip_address }}</td>
				{% if poa.status %}
					<td style="color:green">Ready</td>
				{% else %}
					<td style="color:red">Not ready</td>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block aps_applications_form %}
	<form id="app_add_form" action="add_application_to_database" method="POST">
		APS application URL: <input style="height: 15px; width: 300px" type="text" name="aps_url">
		<input id="submit" type="submit" value="Add" class="button"/>
	</form>
    <div id="app_add_output"></div>
    <div id="app_install_output"></div>
    <form id="app_install_form" action="install_application" method="POST">
	<table id="app_table" style="width:500px">
		<thead>
			<tr>
				<th id="app_name_field">Name</th>
				<th class="version_field">APS version</th>
				<th class="version_field">Package version</th>
				<th>Select</th>
			</tr>
		</thead>
		<tbody id="app_list">
		</tbody>
	</table>
    </form>
{% endblock %}

{% block content %}{% endblock content %}
